$body-font: Helvetica, Arial, sans-serif;
$default-font-size: 14px;

* {
    margin: 0;
}


/* Main Body */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: $body-font;
}


/* Header */
.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    align-items: center;
    
    a {
    margin-right: 20px;
    color: #222;
    font-size: $default-font-size;
    text-decoration: inherit;
    }

    a:hover {
    text-decoration: underline;
    }

    .header_apps {
        margin-right: 15px;
        background-color: white;
        border-radius: 50%;
        padding: 8px;
        color: #646262;
    }

    .header_apps:hover {
        background-color: #EBEBE7;
    }
}


/* Middle */
.middle {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;

    img {
        object-fit: contain;
        height: 100px;
    }

    .search {
        .search_input {
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            height: 30px;
            padding: 10px 20px;
            border-radius: 999px;
            width: 75vw;
            margin: 0 auto;
            margin-top: 30px;
            max-width: 560px;

            input {
                font-size: 16px;
                flex: 1;
                padding: 10px 20px;
                border: none;
                outline: none;
            }

            .material-icons {
                color: gray;
            }
        }

        .search_buttons {
            margin-top: 30px;
            display: flex;
            justify-content: center;

            input {
                font-size: $default-font-size;
                margin: 5px;
                padding: 10px 15px;
                background-color: #f8f8f8;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}