@mixin displayCenter($value) {
    display: flex;
    align-items: center;
    justify-content: $value;
}

$body-font: Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$google-blue: #4c8bf5;
$google-red: #de5246;
$google-darkgray: #5F6368;
$languages-color: #1a2bca;


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

/* Main Body */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: $body-font;
    position: relative;
    min-height: 100%;

    hr {
        border-top: 1px solid #F1F3F4;
    }

    .title-bar {
        color: $google-red;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 45px;
        margin-bottom: 15px;
    }
}


/* Header */
.header {
    @include displayCenter(space-between);
    padding: 20px 30px;

    .header_right {
        @include displayCenter(space-between);
        min-width: 13vw;
    }
    
    a {
    margin-right: 20px;
    color: #222;
    font-size: $default-font-size;
    text-decoration: inherit;
    }

    a:hover {
    text-decoration: underline;
    }

    .header_apps {
        margin-right: 15px;
        background-color: white;
        border-radius: 50%;
        padding: 8px;
        color: $google-darkgray;
    }

    .header_apps:hover {
        background-color: #EBEBE7;
    }

    .googleImage {
        color: #4285f4;
    }

    .signin {
        color: #fff;
        background: #1a73e8;
        border: 1px solid transparent;
        border-radius: 4px;
        text-decoration: none;
        font-family: $body-font;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .25px;
        line-height: 16px;
        margin-left: 10px;
        margin-right: 8px;
        min-width: 96px;
        padding: 9px 23px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        cursor: pointer;

        &:active {
            background: #63a0ef;
            box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
            outline: none;
        } 

        &:hover {
            background: #4285f4;
            text-decoration: none;
            outline: none;
        }
    }
}


/* Middle */
.middle {
    .search {
        flex: 1;
        display: flex;
        margin-top: 12%;
        flex-direction: column;

        img {
            object-fit: contain;
            height: 100px;
        }

        .search_input {
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            height: 30px;
            padding: 10px 20px;
            border-radius: 999px;
            width: 75vw;
            margin: 0 auto;
            margin-top: 30px;
            max-width: 560px;

            input {
                font-size: 16px;
                flex: 1;
                padding: 10px 20px;
                border: none;
                outline: none;
            }

            .material-icons {
                color: #878c92;
            }

            .searchBar_right {
                margin-right: 15px;
            }

            .camera {
                color: #5F6368;
            }

            .rightSearch {
                color: #4c8bf5;
            }

            button {
                background-color: white;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .search_buttons {
            @include displayCenter(center);
            margin: 30px;

            input {
                font-size: $default-font-size;
                margin: 11px 4px;
                min-width: 54px;
                height: 36px;
                padding: 10px 15px;
                background-color: #f8f8f8;
                cursor: pointer;
            
                &:hover {
                    color: rgba(0, 0, 0, 0.871);
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
                    opacity: 0.85;
                    border-color: lightgray;
                }
            }
        }

        .languages {
            @include displayCenter(center);
            flex-wrap: wrap;
            text-align: center;
            font-size: smaller;
            margin: -10px 0 20px 0;

            .language-type {
                a {
                    color: $languages-color;
                    padding: 0 4px;
                }
            }

        }
    }

    .advanced-search {
        margin: 40px 2% 0 45px;
        max-width: 1140px;
        min-width: 200px;
        width:96%;

        .fields {
            width: 100%;
            clear: both;
        }
    }
}


.fields-heading {
    clear: both;

    .fields-heading-left {
        display: inline-block;
        min-width: 167px;
        width: 16%;
        font-size: 16px;
        min-height: 41px;
        font-weight: 500;
        color: #333;
        vertical-align: middle;
    }
    
    .fields-heading-center {
        display: inline-block;
        min-width: 167px;
        min-height: 41px;
        vertical-align: middle;
        width: 50%;
    }
    
    .fields-heading-right {
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        color: #777;
        padding-left: 5px;
        vertical-align: middle;
    }

    .fields-text {
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }

    .fields-left {
        display: inline-block;
        min-width: 167px;
        width: 16%;
        height: 42px;
        color: #222;
        font-size: 13px;
        line-height: 16px;
        vertical-align: middle;
    }
    
    
    .fields-center {
        display: inline-block;
        min-width: 167px;
        min-height: 41px;
        vertical-align: middle;
        width: 50%;

        .fields-input {
            padding-right: 16px;
            text-align: right;
        
            .as-input {
                border-radius: 1px;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                font-size: 13px;
                height: 25px;
                padding: 1px 8px;
                width: 100%;
            }
        
            .fields-button {
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
                user-select: none;
                line-height: 100%;
                height: 30px;
                min-width: 120px;
                float: right;
                margin: 10px 0;
                padding: 0 12px;
                box-shadow: none;
                background-color: #1a73e8;
                border: 1px solid #3079ed;
                color: #fff;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
    
    .fields-right {
        display: inline-block;
        min-width: 200px;
        margin: 0 0 8px 1%;
        color: #555;
        font-size: 11px;
        padding-left: 5px;
        vertical-align: middle;
        position: absolute;

        .fields-text-example {
            color: #666;
            font-family: monospace;
            font-size: 11px;
            white-space: pre;
        }
    }
}